.experienceSection {
    padding: 6rem 10%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    background: #010208;;
  }
  
  .sectionHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .sectionTitle {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 40px;
    font-weight: bold;
  }
  
  .experienceList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  
  .experienceItem {
    
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem 0;
        border-bottom: 2px solid #818183; // updated border style
      
  }
  
  .role {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.25rem;
  }
  
  .rightBlock {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.25rem;
    text-align: right;
  }
  
  .companyName {
    color: #ffffff;
    font-weight: 500;
  }
  
  .period {
    color: #999999;
    font-size: 0.875rem;
  }
  